@{
    ViewData["Title"] = "Login/Register";
}
@using endicott.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model endicott.Models.UserViewModel

<h3>Register</h3>
<form asp-controller="User" asp-action="register" method="POST">
    <h4>
        <label asp-for="UserName"></label>
        <input asp-for="UserName">
        <span asp-validation-for="UserName"></span>
    </h4>
    <h4>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>
    </h4>
    <h4>
        <label asp-for="Password"></label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>
    </h4>
    <h4>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm">
        <span asp-validation-for="Confirm"></span>
    </h4>
    <input type="submit" value="Register">
</form>

<h3>Login</h3>
<form asp-controller="Login" asp-action="login" method="POST">
    <h4>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>
    </h4>
    <h4>
        <label asp-for="Password"></label>
        <input asp-for="Password">
        <span asp-validation-for="Password"></span>
    </h4>
    <input type="submit" value="Login">
</form>